name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  DEFAULT_COMPOSER_FLAGS: "--prefer-dist --no-interaction --no-progress --optimize-autoloader --ansi"

jobs:
  phpunit:
    name: PHP ${{ matrix.php }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        php: [ '7.1', '7.2', '7.3', '7.4', '8.0', '8.1', '8.2', '8.3', '8.4' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: json, curl
          coverage: xdebug
          tools: composer:v2

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install composer dependencies
        run: |
          composer require --dev php-parallel-lint/php-parallel-lint --no-update
          composer require --dev squizlabs/php_codesniffer --no-update
          composer update $DEFAULT_COMPOSER_FLAGS

      - name: Update PHPUnit for PHP 8+
        if: startsWith(matrix.php, '8.')
        run: composer require --dev phpunit/phpunit ^9 --update-with-dependencies

      - name: Install PHPStan for PHP 8+
        if: startsWith(matrix.php, '8.')
        run: composer require --dev phpstan/phpstan --update-with-dependencies

      - name: Run PHP Lint
        run: vendor/bin/parallel-lint src tests

      - name: Run code style check
        run: vendor/bin/phpcs

      - name: Run PHPStan static analysis
        if: startsWith(matrix.php, '8.')
        run: vendor/bin/phpstan analyse src

      - name: Run unit tests with coverage
        run: vendor/bin/phpunit --verbose --colors=always --coverage-clover coverage.xml tests

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        if: matrix.php == '8.4'
        with:
          files: coverage.xml
          fail_ci_if_error: false

